In [1]:
import pandas as pd

In [4]:
df = pd.read_csv(r"C:\Users\schne\OneDrive\Desktop\nba_python\all_seasons.csv")

In [5]:
df.head()

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,0,Dennis Rodman,CHI,36.0,198.12,99.790240,Southeastern Oklahoma State,USA,1986,2,...,5.7,16.1,3.1,16.1,0.186,0.323,0.100,0.479,0.113,1996-97
1,1,Dwayne Schintzius,LAC,28.0,215.90,117.933920,Florida,USA,1990,1,...,2.3,1.5,0.3,12.3,0.078,0.151,0.175,0.430,0.048,1996-97
2,2,Earl Cureton,TOR,39.0,205.74,95.254320,Detroit Mercy,USA,1979,3,...,0.8,1.0,0.4,-2.1,0.105,0.102,0.103,0.376,0.148,1996-97
3,3,Ed O'Bannon,DAL,24.0,203.20,100.697424,UCLA,USA,1995,1,...,3.7,2.3,0.6,-8.7,0.060,0.149,0.167,0.399,0.077,1996-97
4,4,Ed Pinckney,MIA,34.0,205.74,108.862080,Villanova,USA,1985,1,...,2.4,2.4,0.2,-11.2,0.109,0.179,0.127,0.611,0.040,1996-97

In [6]:
df.columns

Index(['Unnamed: 0', 'player_name', 'team_abbreviation', 'age',
       'player_height', 'player_weight', 'college', 'country', 'draft_year',
       'draft_round', 'draft_number', 'gp', 'pts', 'reb', 'ast', 'net_rating',
       'oreb_pct', 'dreb_pct', 'usg_pct', 'ts_pct', 'ast_pct', 'season'],
      dtype='object')

In [7]:
df.shape

(12305, 22)

In [8]:
df.tail()

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
12300,12300,Markieff Morris,MIA,32.0,205.74,111.130040,Kansas,USA,2011,1,...,7.6,2.6,1.4,4.5,0.059,0.089,0.197,0.547,0.116,2021-22
12301,12301,Markelle Fultz,ORL,24.0,193.04,94.800728,Washington,USA,2017,1,...,10.8,2.7,5.5,-5.3,0.010,0.116,0.265,0.517,0.448,2021-22
12302,12302,Marcus Smart,BOS,28.0,193.04,99.790240,Oklahoma State,USA,2014,1,...,12.1,3.8,5.9,9.3,0.018,0.093,0.179,0.540,0.245,2021-22
12303,12303,Marcus Garrett,MIA,23.0,195.58,92.986360,Kansas,USA,Undrafted,Undrafted,...,1.1,1.9,0.6,5.8,0.072,0.108,0.086,0.280,0.069,2021-22
12304,12304,Micah Potter,DET,24.0,208.28,112.490816,Wisconsin,USA,Undrafted,Undrafted,...,4.0,3.0,0.0,-56.4,0.095,0.125,0.148,0.505,0.000,2021-22

In [9]:
import numpy as np

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12305 entries, 0 to 12304
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         12305 non-null  int64
 1   player_name        12305 non-null  object
 2   team_abbreviation  12305 non-null  object
 3   age                12305 non-null  float64
 4   player_height      12305 non-null  float64
 5   player_weight      12305 non-null  float64
 6   college            12305 non-null  object
 7   country            12305 non-null  object
 8   draft_year         12305 non-null  object
 9   draft_round        12305 non-null  object
 10  draft_number       12305 non-null  object
 11  gp                 12305 non-null  int64
 12  pts                12305 non-null  float64
 13  reb                12305 non-null  float64
 14  ast                12305 non-null  float64
 15  net_rating         12305 non-null  float64
 16  oreb_pct           12305 non-null  float64
 17  dreb_pct           12305 non-null  float64
 18  usg_pct            12305 non-null  float64
 19  ts_pct             12305 non-null  float64
 20  ast_pct            12305 non-null  float64
 21  season             12305 non-null  object
dtypes: float64(12), int64(2), object(8)
memory usage: 2.1+ MB

In [19]:
df = df[df["draft_year"] != "Undrafted"]  # Exclude rows with "Undrafted" value
df["draft_year"] = df["draft_year"].astype(int)  # Convert "draft_year" column to integer type
filtered_df = df[df["draft_year"] > 2000]  # Filter based on the condition

In [21]:
print(filtered_df.head())

      Unnamed: 0        player_name team_abbreviation   age  player_height  \
2212        2212    Michael Bradley               TOR  23.0         205.74
2233        2233          Pau Gasol               MEM  21.0         213.36
2258        2258  Kenny Satterfield               DEN  21.0         185.42
2264        2264      Kedrick Brown               BOS  21.0         200.66
2268        2268       Joseph Forte               BOS  21.0         193.04

      player_weight                  college country  draft_year draft_round  \
2212     102.965384                Villanova     USA        2001           1
2233     102.965384                     None   Spain        2001           1
2258      79.832192               Cincinnati     USA        2001           2
2264     100.697424  Northwest Florida State     USA        2001           1
2268      87.996848           North Carolina     USA        2001           1

      ...   pts  reb  ast  net_rating  oreb_pct  dreb_pct  usg_pct  ts_pct  \
2212  ...   1.2  0.9  0.1       -23.1     0.071     0.175    0.133   0.526
2233  ...  17.6  8.9  2.7        -6.2     0.089     0.182    0.226   0.566
2258  ...   5.3  1.4  3.0        -5.0     0.032     0.084    0.218   0.431
2264  ...   2.2  1.7  0.5        -0.2     0.046     0.168    0.159   0.400
2268  ...   0.8  0.8  0.8       -25.6     0.027     0.143    0.190   0.218

      ast_pct   season
2212    0.042  2001-02
2233    0.133  2001-02
2258    0.335  2001-02
2264    0.102  2001-02
2268    0.273  2001-02

[5 rows x 22 columns]

In [22]:
undrafted = df[df["draft_year"] == "Undrafted"]  # Exclude rows with "Undrafted" value
undrafted_df = df[df["draft_year"] == "Undrafted"] > 2000

In [23]:
print(undrafted_df.head())

Empty DataFrame
Columns: [Unnamed: 0, player_name, team_abbreviation, age, player_height, player_weight, college, country, draft_year, draft_round, draft_number, gp, pts, reb, ast, net_rating, oreb_pct, dreb_pct, usg_pct, ts_pct, ast_pct, season]
Index: []

[0 rows x 22 columns]